@media only screen and (max-width: 1200px) {
    .search {
        display: none;
    }
    .card-services__title {
        height: 6rem;
    }
    .staff__name {
        font-size: 1.4rem;
    }
    .staff__job {
        font-size: 1.2rem;
    }
    .staff__btn {
        padding: 1rem 1.5rem;
    }
    .footer {
        .row {
            gap: 0;
            flex-wrap: wrap;
        }
    }
}
@media only screen and (max-width: 992px) {
    .header__item {
        margin-bottom: 1rem;
    }
    .header {
        padding: 1rem;
    }
    .nav {
        display: none;
    }
    #burger {
        display: block;
    }
    
    .nav__a {
        color: $color-dark;
        padding: 1rem;
        
    }
    .join__subscribe {
        background: inherit;
        flex-direction: column;
        border-radius: 1rem;
        align-items: center;
        gap: 4rem;
    }
    .join__input {
        text-align: center;
        width: auto;
        padding: 1rem 3rem;
    }
    
}
@media only screen and (max-width: 768px) {

    
    
    .logo {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
    .slider {
        margin-bottom: 2rem;
    }
    .title {
        margin-bottom: 1rem;
        font-size: 2.4rem;
    }
    .services, .cards, .join {
        margin-bottom: 3rem;
    }
    .join {
        padding: 4rem 12rem;
        .title {
            font-size: 2.4rem;
            margin-bottom: 0;
        }
    }
    
}
@media only screen and (max-width: 576px) {
    .join {
        padding: 2rem 6rem;
    }
    .footer {
        padding-bottom: 0;
    }
}