@mixin text($ff, $fw, $fs, $lh, $color) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $color;
}
@mixin flex {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}