::-webkit-scrollbar {
    width: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,p {
    margin: 0;
    cursor: default;
}
img {
    min-width: 100%;
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
    height: auto;
}