$font-main:'Work Sans', sans-serif;
$color-dark: #262626;
$color-text: #575757;
$color-black: #000000;
$color-violet: #8842F0;
$color-white: #fff;
$color-pink: #F9F1FE;
$transition: .3s all easy-in-out;

